<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta name="keywords" content="shoutike" />
<meta name="description" content="shoutike" />
<meta mame="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1"  />
<!--<link rel="stylesheet" href="../content/bootstrap.min.css" />-->
<link rel="stylesheet" href="../css/Login_page.css"  /> 
<script type="text/javascript" src="../jscript/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../js/Login.js"></script>
</head>
<body>
<div class="wrap">
	<div class="header"></div>
	 <div class="screen">
        <div class="passport-page signup-skin1">
            <div class="stk-container">
            	<div class="page-head">
            		
            	</div>
                <div class="center clearfix">
                    <div class="loginbox">
                        <div class="loginhead">
                            <div class="title">密码找回</div>
                        </div>
                        <div id="PageLogin">
                            <section id="loginForm" class="formbox passport-inner">
                                <form action="">
                                	<div class="normalInput">
                                		<input type="text" name="Email" maxlength="11" placeholder="注册邮箱" />
                                	</div>
                                	<span class="error error1">请输入邮箱</span>
                                	
                                	<span class="error error2"></span>
                                	<span class="error error3"></span>
                                	
                                	<input type="button" value="发送邮件" class="fullBtnBlue btnlogin" />
                                </form>
                            </section>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="../js/emailfind.js"></script>
