<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="../content/bootstrap.min.css" />
<link rel="stylesheet" href="../css/public.css" /> 
<link rel="stylesheet" type="text/css" href="../css/orders.css"/>
</head>
<body>
<div class="wrap">
	<!--顶部-->
	<div class="navheader clearfix">
		<div class="header clearfix">
			<!--logo-->
			<div class="logo" style="margin-top: -3px;">
				<a href="#" class="navbar-brand"><img src="../img/icon/logo-xin.png" style="width:120px;height： 50px;margin-top: -2px;" /></a>
			</div>
			<div class="stk-menu">
				<div class="head-menu">
					<a href="../index.html">首页</a>
				</div>
				<div id="mymenu">
					<a href="javascript:;" id="menu-kc">课程 <span class="glyphicon glyphicon-menu-down" style="font-size: 12px;"></span></a>
				    <!--菜单栏-->
					<div class="topmenu">
						<div class="allmenu">
							<ul>
								<li class="menunav">
									<h5><a href="../views/subpage.html" target="_blank">学前课程</a></h5>
									<div class="listmenu" style="display: block">
										<dl>
											<dt><a href="../views/subpage.html">国学</a></dt>
											<dd>
												<em><a href="../views/subpage.html">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="../views/subpage.html">英语</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="../views/subpage.html">绘画</a></dt>
											<dd>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">人物</a></em>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">素描素描</a></em>
												<em><a href="javascript:;">素描</a></em>
												<em><a href="javascript:;">素描素描</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">儿歌</a></dt>
											<dd>
												<em><a href="javascript:;">三百首</a></em>
												<em><a href="javascript:;">唐诗</a></em>
												<em><a href="javascript:;">七律</a></em>
												<em><a href="javascript:;">绝句</a></em>
												<em><a href="javascript:;">儿歌</a></em>
												<em><a href="javascript:;">儿歌</a></em>
											</dd>
										</dl>
										
									</div>
								</li>
								<li class="menunav">
									<h5><a href="../views/subpage.html" target="_blank">小学课程</a></h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">语文</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">英语</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">数学</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
									</div>
								</li>
								<li class="menunav">
									<h5><a href="../views/subpage.html" target="_blank">初中课程</a></h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">初一</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">初二</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
									</div>
								</li>
								<li class="menunav">
									<h5><a href="../views/subpage.html">高中课程</a></h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">高一</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">高二</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">高考</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												
											</dd>
										</dl>
									</div>
								</li>
								<li class="menunav">
									<h5><a href="../views/subpage.html">考研课程</a></h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">公共课</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">基础课</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												
											</dd>
										</dl>
									</div>
								</li>
								<li class="menunav">
									<h5><a href="../views/subpage.html">外语课程</a></h5>
									<div class="listmenu">
										<dl>
											<dt><a href="javascript:;">法语</a></dt>
											<dd>
												<em><a href="javascript:;">课程课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												<em><a href="javascript:;">课程</a></em>
												
											</dd>
										</dl>
										<dl>
											<dt><a href="javascript:;">韩语</a></dt>
											<dd>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
												<em><a href="javascript:;">基础</a></em>
											</dd>
										</dl>
									</div>
								</li>
							</ul>
						</div>
					</div>
			    </div>
			</div>
			<!--登录注册-->
			<ul class="nav-login">
				<li><a href="javascript:;">购物车</a></li>
				<li class="nav-dlzc"><a href="javascript:;"><span class="glyphicon glyphicon-user"></span> </a></li>
			</ul>
		</div>
	</div>
	<div class="wrapper">
		<div class="shopping-title">
			<div class="title-con">
				<div class="myshopping">
					<h1>订单确认</h1>
					
				</div>
			</div>
		</div>
		<div class="shopping-con">
			<div class="mykc">
				<div class="table">
					<div class="table-box">
						<h4>课程信息</h4>
						<ul class="orders-list">
							<li class="list-con">
								<div class="list_img">
		                        	<a href="javascript:;"><img src="" alt=""></a>
		                        </div>
		                        <div class="list_text">
		                        	<a href="javascript:;">考研专业课 西医中医导学</a>
		                        </div>
							</li>
							
							<li class="list_sum">
		                        <p class="sum_price">￥980</p>
		                    </li>
							
						</ul>
						<ul>
							<li class="list-con">
								<div class="list_img">
		                        	<a href="javascript:;"><img src="" alt=""></a>
		                        </div>
		                        <div class="list_text">
		                        	<a href="javascript:;">考研专业课 西医中医导学</a>
		                        </div>
							</li>
							
							<li class="list_sum">
		                        <p class="sum_price">￥780</p>
		                    </li>
						
						</ul>
						<ul>
							<li class="list-con">
								<div class="list_img">
		                        	<a href="javascript:;"><img src="" alt=""></a>
		                        </div>
		                        <div class="list_text">
		                        	<a href="javascript:;">考研专业课 西医中医导学</a>
		                        </div>
							</li>
						
							<li class="list_sum">
		                        <p class="sum_price">￥180</p>
		                    </li>
						
						</ul>
					</div>
					<!--底部 价钱-->
					<div class="bar-wrapper">
						<div class="bar-top">
							<div class="jxj-choice">
								<div class="choice-left">
									<p>使用奖学金  <span class="glyphicon glyphicon-menu-up" style="font-size: 12px;"></span></p><p>￥20.91可用</p>
								</div>
								<div class="choices">
									<input type="checkbox" name="" id="checks" value="" checked="checked" />
									<span>使用奖学金抵扣 20.91元</span>
								</div>
								<div class="choice-right"><a href="javascript:;">什么是奖学金</a></div>
							</div>
						</div>
			            <div class="bar-right">
			                <div class="piece">共<strong class="piece_num">3</strong>门课程,课程总金额：<strong class="total_text" id="oldMoney">￥119.70</strong></div>
			                <div class="totalMoney kczh-money">课程组合优惠：<strong class="total_text" id="zhMoney">-￥20.00</strong></div>
			                <div class="totalMoney jxj-money">奖学金抵扣：<strong class="total_text" id="jxjMoney">-￥20.91</strong></div>
			                <div class="nowMoney clearfix">
			                	<div class="totalMoney">总计金额: <strong class="total_text" id="lastMoney">￥78.79</strong></div>
			                    <div class="calBtn"><a href="javascript:;">提交订单</a></div>
			                </div>
			            </div>
			        </div>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="footer">
		<div class="content">
			<div class="con footer-con">
				<div class="section">
					<div class="footer_left">
						<a href="javascript:;">关于我们</a>
						<a href="javascript:;">媒体报道</a>
						<a href="javascript:;">商务合作</a>
						<a href="javascript:;">加入我们</a>
						<a href="javascript:;">常见问题</a>
						<a href="javascript:;">意见反馈</a>
					</div>
					<div class="footer_right">
						<a href="javascript:;">sub</a>
						<a href="javascript:;">sub</a>
						
					</div>
				</div>
				<div class="section">
					<a href="http://www.miitbeian.gov.cn">
					    <p class="copy">&copy; shoutike.com 京ICP备16043579号-1</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
<script src="../jscript/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../js/public.js"></script>
<script type="text/javascript" src="../js/orders.js"></script>