<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.stk.dao.VipDao">
<!-- 判断订单是否已存在 -->
	<select id="getwxorder" resultType="Wxorder">
		select * from wxorder where uid=#{uid}
	</select>
	<select id="getpuorder" resultType="Order">
		select * from torder where statu=#{statu}
	</select>

<select id="getoor" resultType="Order">
		select * from torder where UserID=#{uid} and SeriesID=#{seid}
	</select>
	
<!-- 判断用户手机号是否已存在 -->
	<select id="getTephone" resultType="string">
		select Telephone from tuser where ID=#{ID} 
	</select>
	
    <insert id="addvip" parameterType="Wxorder">
		insert into
		wxorder(uid,vip,vipsort,price,createTime,exp,orderno,overtime,starda,outtradeno)
		values
		(#{uid},#{vip},#{vipsort},#{price},#{createTime},
		#{exp},#{orderno},#{overtime},#{starda},#{outtradeno})

	</insert>
	
	<insert id="addorder" parameterType="Order">
		insert into
		torder(OrderNO,UserID,SeriesID,Price,CreateTime,overtime,statu,outtradeno)
		values
		(#{OrderNO},#{UserID},#{SeriesID},#{Price},#{CreateTime},#{overtime},#{statu},#{outtradeno})

	</insert>
	
	<!-- 查询订单的详细 -->
	 <select id="selorderandk" resultMap="orderandk">
         SELECT * FROM torder tr JOIN series s ON tr.SeriesID=s.id AND UserID=#{id} 
     </select>
     <resultMap type="OrderandSeries" id="orderandk">
         <id property="id" column="ID"/>
         <result property="Price" column="Price"/>
         <result property="outtradeno" column="outtradeno"/>
         <result property="CreateTime" column="CreateTime"/>
         <result property="overtime" column="overtime"/>
         <association property="seriesid" javaType="Series">
             <id property="ID" column="ID"/>
             <result property="Title" column="Title"/>
             <result property="PicURL" column="PicURL"/>
         </association>
     </resultMap>
</mapper>