/*筛选条件*/
a:hover{text-decoration: none;}
.header,.footer-con{
	width: 1200px !important;
}
.subpage-top,.subpage-wrap{
	width: 100%;
	height: auto;
	background: #fff;
}
.subpage-wrap{
	background: #efefef;
}
.subpage-con{
	width: 1120px;
	height: auto;
	margin: 0 auto;
}
.screen{
	width: 100%;
	height: auto;
}
.screen-content{
	width: 100%;
	height: auto;
	padding: 4px 0;
}
.screen-content dl{
	width: 100%;
	min-height: 68px;
	padding: 18px 0 8px;
	position: relative;
	border-bottom: 1px solid #ccc;
}
.screen-content dl:last-child{
	border: none;
}
.screen-content dl dt{
	float: left;
	width: 68px;
	min-height: 26px;
	line-height: 26px;
	font-size: 14px;
	font-weight: 700;
	color: #000;
}
.screen-content dl dd{
	float: left;
	min-height: 26px;
	width: 1052px;
}
.screen-content dl dd a{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 8px;
	margin-right: 16px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #666;
}
.screen-content dl dd a.on{
	color: #fff;
	background: #333;
	font-weight: 700;
}
/*页面主体内容*/
.leftfloat{
	float: left;
	width: 180px;
	margin-right: 28px;
	padding: 20px 0;
}
.leftfloat h5{
	width: 100%;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	border-left: 2px solid #666;
	color: #333;
	font-size: 18px;
	margin-bottom: 6px;
}
.leftfloat .sidebar{
	width: 100%;
	height: auto;
}
.leftfloat .sidebar ul{
	width: 100%;
	height: auto;
}
.leftfloat .sidebar ul li{
	width: 100%;
	min-height: 40px;
	padding: 9px 0;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
}
.leftfloat .sidebar ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #666;
}
.leftfloat .sidebar ul li:last-child{
	border: none;
}
.leftfloat .sidebar ul li p{
	padding: 0 2px;
	font-size: 14px;
	line-height: 20px;
	float: left;
}
/*.leftfloat .sidebar ul li p:last-child{
	
}*/
/*文本超出固定宽度时显示省略号*/
.leftfloat .sidebar ul li p.cont{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.leftfloat .sidebar ul .side-active{
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
}
.leftfloat .sidebar ul .side-active p{
	float: none;
	width: 100%;
}
.leftfloat .sidebar ul .side-active p:first-child{
	font-size: 18px;
	line-height: 24px;
	color: #d21313;
}
/*右边课程内容部分*/
.rightfloat{
	float: right;
	width: 912px;
	padding: 0 0px 26px 26px;
	margin-top: 20px;
	background: #fff;
	margin-bottom: 25px;
}
.rightfloat .tab{
	width: 100%;
	height: 32px;
}
.rightfloat .tab ul{
	width: 100%;
	height: 100%;
}
.rightfloat .tab ul li{
	float: left;
	height: 32px;
	line-height: 32px;
	padding: 0 8px;
	font-size: 16px;
	margin-right: 12px;
	cursor: pointer;
}
.rightfloat .tab ul li.tabs-active{
	color: #d21313;
	border-bottom: 2px solid #d21313;
}
.rightfloat .tabs-con{
	padding-top: 20px;
	display: none;
}
.rightfloat .con-active{
	display: block;
}
/*二级页面 搜索页面公用样式*/


/*分页器*/
.rightfloat .pager{
	width: 520px;
	height: 40px;
	margin: 0 auto;
}
.page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #0099FF;
    margin: 5px;
    background-color: #0099FF;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}